:root{
  --background-color: #fff;
  --background-light: #fff;
  --shadow-color: rgba(0,0,0,0.2);
  --primary-color: rgba(255, 0, 86);
  --text-color: #0A0A0A;
  --text-light: #575757;
  --font-size: 16px;
  --animation-speed: 1;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center; 
  box-shadow: 0 3px 6px var(--shadow-color);
  background-color: var(--background-color);
  color: var(--text-color);
  padding: 20px 70px;
  height: 70px;
  .logo{
    font-size: 2.5em;
    font-weight: bolder;
    color: var(--primary-color );
    text-decoration: none;
    text-shadow: 0 1px 3px var(--shadow-color);
    padding: 20px 140px;
    span{
      color: var(--text-color);
     
    }


  }
}
.container{
  padding-inline: 15vm;
}

.sidenav{
  width: 240px;
  background: #011627;
  position: absolute;
  height: 95vh;
  // padding: 0 30px;
  left: -100%;
  transition: all 1s;
}

.sidenav.active{
  left : 0;
}
.logo{
  padding-top: 30px;
  width: 80px;
}
ul{
  padding : 0 ;
}
ul li {
  list-style-type: none;
  margin: 10px 0;
}

ul li a{
  color: aliceblue;
  text-decoration: none;
  font-size: 16px;
  display: block;
  padding: 15px 20px;
  border-radius: 6px;
}
ul li a:hover,
ul li a:active {
  background-color: #49495c;
  color: #a5a3a3;
}

header svg {
  font-size: 30px;
 
}

