.main {
  padding-inline: 16vw;
}

.recipes-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  grid-gap: 1.5em;
  padding-bottom: 40px;
}

.recipe-card {
  isolation: isolate;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 5px 15px var(--shadow-color);
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  position: relative;
}

.recipe-card-info {
  padding: 15px;
  display: flex;
  flex-direction: column;
  height: 50%;
}

.custom-image {
  position: relative; /* Ensure position context for absolute child */
  z-index: 1; /* Ensure image is behind the notification */
  width: 100%;
  height: auto;
  object-fit: cover;
}



.auther-img {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  border: 3px solid var(--background-light);
  box-shadow: 0 1px 3px var(--shadow-color);
  margin-top: -50px;
  z-index: 3; /* Ensure image is above notification */
}

.save-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 1.4em;
}

.recipe-title {
  font-size: 1.25em;
  font-weight: bold;
  margin-bottom: 0.5em;
  color: var(--text-color);
  margin-top: 0.25em;
}

.recipe-desc {
  color: var(--text-light);
  font-size: 0.9em;
  letter-spacing: 1px;
  flex-grow: 1;
}

.view-btn {
  font-size: 1em;
  padding: 8px;
  font-weight: bold;
  color: var(--primary-color);
  margin-top: 0.75em;
  display: inline-block;
}

.like-comment {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #ddd;
  cursor: pointer;
  padding-top: 13px;
  padding-bottom: 5px;

  .like {
      display: flex;
      align-items: center;

      .liked {
          color: red;
          font-weight: bold;
      }

      svg {
          margin-right: 4px;
          cursor: pointer;
          color: #4d4d4d;
      }

      span {
          padding-left: 5px;
          color: #666;
      }
  }

  .comment {
      display: flex;
      align-items: center;

      svg {
          margin-left: 8px;
          cursor: pointer;
          color: #4d4d4d;
      }
  }
}

.search-box {
  display: flex;
  align-items: center;
  justify-content: center; /* Center horizontally */
  height: 50px; /* Increased height */
  width: 50%; /* Set width as needed */
  margin: 0 auto; /* Center horizontally */
  padding: 0 1em; /* Padding on the sides */
  
  input, .btn {
    height: 100%; /* Full height */
    box-sizing: border-box; /* Include padding and border in total width/height */
  }
  
  input {
    flex: 1; /* Take remaining space */
    min-width: 280px; /* Minimum width for the input */
    padding: 0 .5em;
    font-size: 1em;
    border-radius: 5px 0 0 5px;
    outline: none;
    border: 1px solid #4d4d4d;
  }
  
  .btn {
    padding: 0 .75em; /* Adjusted padding for the button */
    border-radius: 0 5px 5px 0;
    background-color: var(--primary-color); /* Example background color */
    color: white; /* Example text color */
    border: none; /* Example no border */
    cursor: pointer; /* Example cursor style */
  }
}
.liked {
  color: red;  /* Change this to whatever color you prefer */
}

.notification {
  position: absolute;
  top: 0;
  background-color: var(--primary-color);
  color: white;
  padding: 10px 23px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  font-size: 1em;
  z-index: 3;
  
}
.saved {
  color: var(--primary-color);
  font-weight: bold;
}